# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
env/
venv/

# Git
.git
.gitignore

# Other
.vscode/
mlruns/
zenml_stores/

# Ignore the data directory by default...
data/*
# ...but explicitly include the chroma_db needed for the app
!data/chroma_db/