# Web Scraping & Parsing
beautifulsoup4
requests

# API & Servicing
fastapi
uvicorn

# LLM, RAG & Vector Storage
langchain
ollama
sentence-transformers
chromadb

# MLOps & Orchestration
zenml[server]
mlflow
docker
dvc

# Kubeflow Integration
kfp
kfp-kubernetes

# Cloud & Infrastructure
boto3

# Utilities
python-dotenv

#Testing
pytest