# Web Scraping & Parsing
trafilatura
GitPython

# API & Servicing
fastapi
uvicorn

# LLM, RAG & Vector Storage
langchain
langchain-community
ollama
sentence-transformers
chromadb

# MLOps & Orchestration
zenml[server]
mlflow
docker
dvc

# Kubeflow Integration
kfp
kfp-kubernetes

# Cloud & Infrastructure
boto3
aws-profile-manager
s3fs

# Utilities
python-dotenv

#Testing
pytest